*{
	margin:0;
	padding:0;
}

html, body {
	background-color: #E6E6E6;
    font-family: 'Roboto', sans-serif;
}

a {
	  color: #0A2229;
	  font-size: 14px;
	  -webkit-transition: all 0.2s;
	  -moz-transition: all 0.2s;
	  transition: all 0.2s;
 }
  a:focus, a:hover {
    color: #0080FF;
}

h2 {
    color: #334045;
}

p {
    font-size: 14px;
    font-weight: 600;
}

#wrapper {
  width: 500px;
}

#login-form{
    overflow: hidden;
    background-color:#fff;
    width: auto;
    height: auto;
}

.group-control{
    width: 80%;
}

.painel-portal{
    text-align:center;
    color: #fff;
    background-color: #007bff;
    border-color: #ddd;
}

.painel-titulo{
    padding: 5px;
}

.input-control .input-group{
    margin-left: 40px;
    margin-top: 10px;
    width: 350px;
}

.label-control{
    font-size: 14px;
}


.btn-acess{
    font-size: 14px;
    font-weight: 700;
    border-style: none;
	margin-top: 10px;
}

.btn-acess:hover{
	color: #ffffff;
	box-shadow: 1px 2px 5px #000000;
}

.input-group  .btn-acess:hover{
	background-color: #08D604;
	box-shadow: 1px 2px 5px #000000;
}

.input-group-addon{
	background-color: #007bff;
}

.help-block {
    color: #f7a1a0 !important;
}