*{
	margin:0;
	padding:0;
}

html, body {
	width: 100%;
	background-color: #E0F2F7;
}

a {
	  color: #0A2229;
	  font-size: 14px;
	  -webkit-transition: all 0.2s;
	  -moz-transition: all 0.2s;
	  transition: all 0.2s;
 }
  a:focus, a:hover {
    color: #0080FF;
}

h2 {
    color: #334045;
}

p {
    font-size: 14px;
    font-weight: 600;
}

.panel-titulo{

}

.container{
    max-height: auto;
    max-width: 350px;
    border-radius: 15px;
    background-color:#fff;
    margin-top: 15px;
}

.painel-portal{
    text-align:center;
    color: #fff;
    background-color: #007bff;
    border-color: #ddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
		padding: 5px;
}

.btn-acess{
    font-size: 14px;
    font-weight: 700;
    border-style: none;
		margin-top: 10px;
}

.btn-acess:hover{
	color: #ffffff;
	box-shadow: 1px 2px 5px #000000;
}

.input-group  .btn-acess:hover{
	background-color: #08D604;
	box-shadow: 1px 2px 5px #000000;
}

.input-group-addon{
	background-color: #007bff;
}