body{
    margin: 0;
    padding: 0;
    background-image: url("/img/condoBlueLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    color: #D8D8D8;
    font-size: 16px;
}

.container{
    margin-top: 100px;
}

.panel{
    border: 0px;
    background:  rgba(0,0,0,0.5);
    padding-top: 50px;
}

h4{
    margin: 0;
    padding: 0;
    color: #FE9A2E;
    font-weight: 700;
    font-size: 22px;
}

a{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.btn-acess{
    font-size: 14px;
    font-weight: 700;
    border-style: none;
    margin-top: 10px;
}

.btn-acess:hover{
    color: #ffffff;
    box-shadow: 1px 2px 5px #000000;
}

.input-group  .btn-acess:hover{
    background-color: #08D604;
    box-shadow: 1px 2px 5px #000000;
}

.input-group-addon{
    background-color: #007bff;
}

.help-block {
    color: #e45552 !important;
}
