body{
    background:#f4f4f4;
    overflow: scroll;
}

/* Navbar */
.navbar{
    min-height: 33px !important;
    margin-bottom:0;
    border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
    height: 33px;
}

.logo {
    margin-left: 15px !important;
}

.logo a{
    margin-top: 7px;
    font-weight: bold;
    font-size: 24px !important;
}

.navbar-default {
    background-color: #337ab7;
    border-color: #2f3b65;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #77afde;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
    font-family: Verdana;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #77afde;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #77afde;
    background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #77afde;
    background-color: #337ab7;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #272728;
}

a.list-group-item:focus, a.list-group-item:focus, button.list-group-item:focus, button.list-group-item:focus {
    color: #fff;
    background-color: #77afde;
}

/* Custom */
.main-color-bg{
    background-color: #337ab7 !important;
    color:#ffffff !important;
}

/* Header */
#header{
    background:#333333;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
    background:#3736FF ;
    color:#333333;
    margin-top: 15px;
    margin-bottom: 10px;
    width:50%;
}

.breadcrumb a{
    color:#fff;
    text-decoration: none;

}

/* Progress Bars */
.progress-bar{
    background:#333333;
    color:#ffffff;
}

.dash-box{
    text-align:center;
}

.dash {
    padding-left: 0;
}

#login{
    margin-top:30px;
}

/* Footer */
/*#footer{
    position: fixed;
    bottom: 0;
    clear: both;
    background:#333333;
    color:#ffffff;
    text-align:center;
    padding:15px;
    width: 100%;
    margin-top:30px;
}*/


@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FAFAFA;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #272728;
        background-color: #fff;
    }
}

#navbar{
  margin: 0;
}

.img-profile
{
    border: 1px solid white;
    background-color: #FAFAFA;
    margin: 2px 5px;

}

/*Foto Editar Perfil*/
.img-user
{
    border: 4px solid black;
    background-color: #FAFAFA;
}

.msg-sys{
    padding: 15px 0 0 0;
    margin-bottom: 10px;
    min-height: auto;
    min-width: auto;
}

#msgAvisos{
  margin-top: 10px;
}
