body{
    background-color: #E6E6E6;
    overflow: scroll;
    padding-top: 80px;
}

.logo {
    margin-left: 15px !important;
}

.logo a{
    margin-top: 7px;
    font-weight: bold;
    font-size: 24px !important;
}

/* Painel Nav-bar Topo */
.navbar-default {
    background-color: #424242;
    border-color: #6E6E6E;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #77afde;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #77afde;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #77afde;
    background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #77afde;
    background-color: #337ab7;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #77afde;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #77afde;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #272728;
}

a.list-group-item:focus, a.list-group-item:focus, button.list-group-item:focus, button.list-group-item:focus {
    color: #fff;
    background-color: #77afde;
}

/* Custom */
.main-color-bg{
    background-color: #337ab7 !important;
    color:#ffffff !important;
}

.breadcrumb{
    background:#424242 ;
    color:#333333;
    margin-top: 15px;
    margin-bottom: 20px;
    width:100%;
}

.breadcrumb a{
    color:#fff;
    text-decoration: none;

}

.breadcrumb .active {
    color: #77afde;
}

.dash-box{
    text-align:center;
}

#login{
    margin-top:30px;
}

/* Footer */
/*#footer{
    position: fixed;
    bottom: 0;
    clear: both;
    background:#333333;
    color:#ffffff;
    text-align:center;
    padding:15px;
    width: 100%;
    margin-top:30px;
}*/


@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FAFAFA;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #272728;
        background-color: #fff;
    }
}

.img-profile
{
    border: 1px solid white;
    background-color: #FAFAFA;
    margin: 2px 5px;
}

/*Foto Editar Perfil*/
.img-user
{
    border: 4px solid black;
    background-color: #FAFAFA;
}

.msg-sys{
    padding: 15px 0 0 0;
    min-height: auto;
    min-width: auto;
}


#areaDescricao{
    box-sizing: border-box;
    resize: none;
}

.visitaMenu label{
    color: #FAAC58;
    padding: 10px;
    margin-top: 5px;
    background-color:;
    font-weight: 500;
}



/** Estilos Botões **/
.btn-acess{
    font-size: 14px;
    font-weight: 700;
    border-style: none;
        margin-top: 10px;
}

.btn-acess:hover{
    color: #ffffff;
    box-shadow: 1px 2px 5px #000000;
}

.input-group  .btn-acess:hover{
    background-color: #08D604;
    box-shadow: 1px 2px 5px #000000;
}

